.my-badge {
    width: 150px;
    text-align: center;
}

    .my-badge text{
        fill: #fff;
        font-size: 11.6px;
        text-anchor: middle;
    }

.red {
    fill: #C76B02;
}

.yellow {
    fill: #D3B103;
}

.green {
    fill: #04BC41;
}

.rainbow {
    fill: url('#mbe-gradient');
}

.rainbow-moving {
    fill: url('#pattern');
}