<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Welcome to {{title}}!
    </h1>
    
</div>

<div class="row text-center">
    <div class="col-md-12">
        <app-badge [value]="someValue" class="move-me-right"></app-badge>
    </div>
</div>

<div class="row" style="margin-top: 50px;">
    <div class="col-md-12">
        <div class="slider-wrapper">
            <!-- [(ngModel)]="someValue"  -->            
            <!-- (start)="onSomeTestEvent('start', $event)"
            (slide)="onSomeTestEvent('slide', $event)"
            (update)="onSomeTestEvent('update', $event)"
            (change)="onSomeTestEvent('change', $event)"
            (set)="onSomeTestEvent('set', $event)"
            (end)="onSomeTestEvent('end', $event)" -->
            <nouislider [config]="someConfig" [(ngModel)]="someValue"
                (update)="onChange($event)"
                [ngClass]="{'over-gi': someValue > 10 }"></nouislider>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-1">
        <button (click)="boopClick()" class="btn btn-primary boop-btn">Boop</button>
    </div>
    <div class="col-md-9">
        <div class="box" id="boopbox">
            <h1>Some Stuff Goes here {{locked}}</h1>
        </div>
    </div>
</div>