<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Welcome to {{title}}!
    </h1>
    <app-badge [value]="someValue"></app-badge>
</div>

<div class="row" style="margin-top: 50px;">
    <div class="col-md-12">
        <div class="slider-wrapper">
            <nouislider [config]="someConfig" [ngModel]="someValue" (update)="onChange($event)" [ngClass]="{'over-gi': someValue > 10 }"></nouislider>
        </div>
    </div>
</div>


<div style="margin-top: 100px;">
    {{someValue}}
</div>

<button (click)="boopClick()" class="btn btn-primary boop-btn">Boop</button>

<div class="box" id="boopbox">
    <h1>list of tiers here</h1>
</div>

<div class="row">
    <div class="col-lg">Something goes here {{someValue}}</div>
    <div class="col-lg">{{someValue}}</div>
    <div class="col-lg">{{someValue}}</div>
    <div class="col-lg">{{someValue}}</div>
</div>

<div class="row d-lg-block">
    <div class="col-lg">Something goes here {{someValue}}</div>
    <div class="col-lg">{{someValue}}</div>
    <div class="col-lg">{{someValue}}</div>
    <div class="col-lg">{{someValue}}</div>
</div>


<div class="d-lg-none">hide on screens wider than lg</div>
<div class="d-none d-lg-block">hide on screens smaller than lg</div>